<div class="menu box">
    <p class="menu-label">Statystyki</p>
    <ul class="menu-list">
        <li><a href="/stats/all-times-results" class="{{ activeStatsItem == 'all_times_results' ? 'is-active' : '' }}">Miejsca w turniejach</a></li>
        <li><a href="/stats/all-time-summary" class="{{ activeStatsItem == 'summary' ? 'is-active' : '' }}">Podsumowanie</a></li>
        <li><a href="/stats/games" class="{{ activeStatsItem == 'games_count' ? 'is-active' : '' }}">Liczba gier</a></li>
        <li><a href="/stats/games-won" class="{{ activeStatsItem == 'games_won' ? 'is-active' : '' }}">Wygrane gry</a></li>
        <li><a href="/stats/tournaments" class="{{ activeStatsItem == 'tournaments_count' ? 'is-active' : '' }}">Liczba turniejów</a></li>
        <li><a href="/stats/avg-points-per-game" class="{{ activeStatsItem == 'avg_points_per_game' ? 'is-active' : '' }}">Średnia punktów</a></li>
        <li><a href="#" class="{{ activeStatsItem == 'sets' ? 'is-active' : '' }}">Zestawienia</a></li>
        <li><a href="#" class="{{ activeStatsItem == 'year_summaries' ? 'is-active' : '' }}">Podsumowania lat</a></li>
        <li><a href="#" class="{{ activeStatsItem == 'game_logs' ? 'is-active' : '' }}">Zapisy gier</a></li>
    </ul>
</div>
