<div class="menu box">
    <p class="menu-label">Menu zawodnika</p>
    <ul class="menu-list">
        <li>
            <a href="/players/{{ playerId }}" class="{{ activeMenuItem == 'profile' ? 'is-active' : '' }}">Profil</a>
        </li>
        <li>
            <a href="/players/{{ playerId }}/tournaments" class="{{ activeMenuItem == 'tournaments' ? 'is-active' : '' }}">Turnieje</a>
        </li>
        <li>
            <a href="/players/{{ playerId }}/rank-history" class="{{ activeMenuItem == 'charts' ? 'is-active' : '' }}">Historia rankingu</a>
        </li>
        <li>
            <a href="/players/{{ playerId }}/records" class="{{ activeMenuItem == 'records' ? 'is-active' : '' }}">Rekordy</a>
        </li>
        <li>
            <a href="#" class="{{ activeMenuItem == 'year_summaries' ? 'is-active' : '' }}">Podsumowania lat</a>
        </li>
        <li>
            <a href="/players/{{ playerId }}/game-balance" class="{{ activeMenuItem == 'head_to_head' ? 'is-active' : '' }}">Bilans pojedynków</a>
        </li>
    </ul>
</div>
