<style>
    .player-side-menu .menu-list a.is-active {
        background-color: #e8f1ff;
        color: #1f3f6f;
        font-weight: 600;
    }

    .player-side-menu .menu-list a.is-active:hover {
        background-color: #dce9ff;
        color: #1a355d;
    }
</style>

<div class="menu box player-side-menu">
    <ul class="menu-list">
        <li>
            <a href="/players/{{ playerSlug }}" class="{{ activeMenuItem == 'profile' ? 'is-active' : '' }}">Profil</a>
        </li>
        <li>
            <a href="/players/{{ playerSlug }}/tournaments" class="{{ activeMenuItem == 'tournaments' ? 'is-active' : '' }}">Turnieje</a>
        </li>
        <li>
            <a href="/players/{{ playerSlug }}/rank-history" class="{{ activeMenuItem == 'charts' ? 'is-active' : '' }}">Historia rankingu</a>
        </li>
        <li>
            <a href="/players/{{ playerSlug }}/records" class="{{ activeMenuItem == 'records' ? 'is-active' : '' }}">Rekordy</a>
        </li>
        <li>
            <a href="#" class="{{ activeMenuItem == 'year_summaries' ? 'is-active' : '' }}">Podsumowania lat</a>
        </li>
        <li>
            <a href="/players/{{ playerSlug }}/game-balance" class="{{ activeMenuItem == 'head_to_head' ? 'is-active' : '' }}">Bilans pojedynków</a>
        </li>
    </ul>
</div>
